body {
    text-align: center;
}
input {
    display: block;
    margin: 5px auto;
    padding: 15px 20px;
    border-radius: 5px;
}

#overlay {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    background-color: black;
    cursor: pointer;
    padding: 20px;
}

#submit-btn {
    background-color: #A77BD6;
    margin: 5px auto;
    padding: 15px 20px;
    border-radius: 5px;
}